@model DAL.Modelo.DlkCatAccEmpleado

<h1>Crear empleado</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MdUuid" class="control-label"></label>
                <input asp-for="MdUuid" class="form-control" />
                <span asp-validation-for="MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MdDate" class="control-label"></label>
                <input asp-for="MdDate" class="form-control" />
                <span asp-validation-for="MdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveEmpleado" class="control-label"></label>
                <input asp-for="ClaveEmpleado" maxlength="7" class="form-control" />
                <span asp-validation-for="ClaveEmpleado" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="NivelAccesoEmpleado" class="control-label"></label>
                <input asp-for="NivelAccesoEmpleado" type="number" maxlength="0" class="form-control" />
                <span asp-validation-for="NivelAccesoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="AdministrarEmpleadosController1" action="verEmpleados">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
