@using WebApplication1.Models.DTOs
@{
    if (ViewBag.IsAdmin == "0")
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";

    }
    else if (ViewBag.IsAdmin == "1")
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    }
    @model List<DlkCatAccEmpleadoDTOcs>

}
<h1>Información del usuario</h1>

@foreach (DlkCatAccEmpleadoDTOcs emp in Model)
{
    <form method="post">
        <div>
            <h1>Empleado n @emp.CodEmpleado</h1>
            <input class="mb-2 border-2" type="number" name="rol" id="rol" maxlength="1" value="@emp.CodEmpleado">
            <input class="mb-2 border-2" type="password" name="clave" id="clave" maxlength="1" value="@emp.ClaveEmpleado">
        </div>
    </form>
}







