@using WebApplication1.Models.DTOs
@model DAL.Modelo.DlkCatAccEmpleado
@{
    if (ViewBag.IsAdmin == "0")
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";

    }
    else if (ViewBag.IsAdmin == "1")
    {
        Layout = "~/Views/Shared/Layouts/_AdminLayout.cshtml";
    }

}
@*<h1>Información del usuario</h1>

@foreach (DlkCatAccEmpleadoDTOcs emp in Model)
{
    <form method="post">
        <div class="form-group">
            <label asp-for="ClaveEmpleado" class="control-label"></label>
            <input asp-for="ClaveEmpleado" class="form-control" />
            <span asp-validation-for="ClaveEmpleado" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NivelAccesoEmpleado" class="control-label"></label>
            <input asp-for="NivelAccesoEmpleado" class="form-control" />
            <span asp-validation-for="NivelAccesoEmpleado" class="text-danger"></span>
        </div>
    </form>
}
*@

<h4>DlkCatAccEmpleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MdUuid" class="control-label"></label>
                <input asp-for="MdUuid" class="form-control" />
                <span asp-validation-for="MdUuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MdDate" class="control-label"></label>
                <input asp-for="MdDate" class="form-control" />
                <span asp-validation-for="MdDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CodEmpleado" />
            <div class="form-group">
                <label asp-for="ClaveEmpleado" class="control-label"></label>
                <input asp-for="ClaveEmpleado" class="form-control" />
                <span asp-validation-for="ClaveEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelAccesoEmpleado" class="control-label"></label>
                <input asp-for="NivelAccesoEmpleado" class="form-control" />
                <span asp-validation-for="NivelAccesoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }






